:root {
  --text-h: #f4f0ff;
  --muted: #9590a3;
  --bg: #0c0b10;
  --border: #302c3b;
  --accent: #8e5cff;
  --accent-soft: #b49aff;
  --sans: 'Segoe UI', sans-serif;
  --heading: Georgia, serif;
  color: var(--muted);
  background: var(--bg);
  font: 16px/1.5 var(--sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}
